<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ page.keywords }}">
  <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <style>
    #container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: 100%;
      background-image: url("https://cdn-docs.vizard.ai/0-web-static/image/home/first_model_background.webp");

    }
  </style>
</head>
<body>
<div id="container">
    {{ content }}
</div>
</body>
</html>
